:root {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
}

* {
    box-sizing: border-box;
}

#app {
    max-width: 1280px;
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.grecaptcha-badge {
    visibility: hidden;
}

.padding-1 {
    padding: 1rem;
}

.blur {
    background: rgba(245, 245, 247, 0.72);
    backdrop-filter: saturate(180%) blur(20px);
    border-radius: 0 0 8px 8px;
    z-index: 1;
}